<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Wrapped Plugins Dependencies" sequenceNumber="4">
	<locations>


		<location includeAllPlatforms="false" includeMode="planner"
			includeSource="true" type="InstallableUnit">
			<unit id="com.abstratt.eclipsegraphviz.feature.feature.group" version="0.0.0" />		
			<repository location="jar:http://repository-textuml.forge.cloudbees.com/snapshot/com/abstratt/eclipsegraphviz/com.abstratt.eclipsegraphviz.repository/2.2.201606/com.abstratt.eclipsegraphviz.repository-2.2.201606.zip!/" />
		</location>

		<location includeAllPlatforms="false" includeMode="planner"
			includeSource="false" type="InstallableUnit">
			<unit id="org.eclipse.osgi" version="0.0.0" />
			<repository location="http://download.eclipse.org/releases/mars/201602261000/" />
		</location>


		<location includeAllPlatforms="false" includeMode="planner"
			includeSource="false" type="InstallableUnit">
            <unit id="com.thoughtworks.xstream" version="0.0.0" />
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/" />
		</location>
				
	</locations>
</target>
